<!-- START ALERTS
==================================================================================== -->
<div class="alerts row">
	<div class="col-md-12">
		<h1>
			Alerts
			<hr>
		</h1>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-white">
			<strong>Alert white</strong>
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-default">
			<strong>Alert default</strong>
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-success">
			<strong>Alert success</strong>
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-danger">
			<strong>Alert danger</strong>
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-purple">
			<strong>Alert purple</strong>
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-light-blue">
			<strong>Alert light blue</strong>
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-black">
			<strong>Alert black</strong>
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-primary">
			<strong>Alert primary</strong>
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-info">
			<strong>Alert info</strong>
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-warning">
			<strong>Alert warning</strong>
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-orange">
			<strong>Alert orange</strong>
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-cyan">
			<strong>Alert cyan</strong>
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-dark-blue">
			<strong>Alert dark blue</strong>
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
</div>
<!-- ====================================================================================
     END ALERTS -->