<!-- START BUTTONS
==================================================================================== -->
<div class="buttons row">
	<div class="col-md-12">
		<h1>
			Buttons
		</h1>
		<hr>
	</div>
	<div class="col-md-12">
		<p>
			Add class <code>btn-color</code>
		</p>
		<p>
			For example I want to make a button with color cyan, I would make
			<pre class="highlight-js">&lt;button class="btn btn-cyan"&gt;Submit&lt;/button&gt;</pre>
		</p>
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<div class="row">
				<button class="btn btn-default">Default</button>
			</div>
			<div class="row">
				<button class="btn btn-success">Success</button>
			</div>
			<div class="row">
				<button class="btn btn-danger">Danger</button>
			</div>
			<div class="row">
				<button class="btn btn-purple">Purple</button>
			</div>
			<div class="row">
				<button class="btn btn-light-blue">Light blue</button>
			</div>
			<div class="row">
				<button class="btn btn-black">Black</button>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<div class="row">
				<button class="btn btn-primary">Primary</button>
			</div>
			<div class="row">
				<button class="btn btn-info">Info</button>
			</div>
			<div class="row">
				<button class="btn btn-warning">Warning</button>
			</div>
			<div class="row">
				<button class="btn btn-orange">Orange</button>
			</div>
			<div class="row">
				<button class="btn btn-cyan">Cyan</button>
			</div>
			<div class="row">
				<button class="btn btn-dark-blue">Dark blue</button>
			</div>
		</div>
	</div>
</div>
<!-- ====================================================================================
     END BUTTONS -->