<!-- START LABELS
==================================================================================== -->
<div class="labels row">
	<div class="col-md-12">
		<h1>
			Labels
		</h1>
		<hr>
	</div>
	<div class="col-md-12">
		<p>
			Add class <code>colored-label</code> and <code>label-color</code>
		</p>
		<p>
			For example I want to make a label with color light blue, I would make
			<pre class="highlight-js">&lt;span class="colored-label label-light-blue"&gt;Hello world&lt;/span&gt;</pre>
		</p>
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<div class="row label-container">
				<span class="colored-label label-white">White</span>
			</div>
			<div class="row label-container">
				<span class="colored-label label-default">Default</span>
			</div>
			<div class="row label-container">
				<span class="colored-label label-success">Success</span>
			</div>
			<div class="row label-container">
				<span class="colored-label label-danger">Danger</span>
			</div>
			<div class="row label-container">
				<span class="colored-label label-purple">Purple</span>
			</div>
			<div class="row label-container">
				<span class="colored-label label-light-blue">Light blue</span>
			</div>
			<div class="row label-container">
				<span class="colored-label label-black">Black</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<div class="row label-container">
				<span class="colored-label label-primary">Primary</span>
			</div>
			<div class="row label-container">
				<span class="colored-label label-info">Info</span>
			</div>
			<div class="row label-container">
				<span class="colored-label label-warning">Warning</span>
			</div>
			<div class="row label-container">
				<span class="colored-label label-orange">Orange</span>
			</div>
			<div class="row label-container">
				<span class="colored-label label-cyan">Cyan</span>
			</div>
			<div class="row label-container">
				<span class="colored-label label-dark-blue">Dark blue</span>
			</div>
		</div>
	</div>
</div>
<!-- ====================================================================================
     END LABLES -->