<!-- START MODALS
==================================================================================== -->
<div class="modals row">
	<div class="col-md-12">
		<h1>
			Modals
		</h1>
		<hr>
	</div>
	<div class="col-md-12">
		<h3>
			Click the button to launch bootstrap modal.
		</h3>
	</div>
	<div class="col-md-12">
		<p>
			Add class <code>modal-color</code> to <code>.modal-content</code>
		</p>
		<p>
			For example I want to make a modal with color light blue, I would make
			<pre class="prettyprint">
&lt;div class="modal-content modal-light-blue"&gt;
	modal header
	modal body
	modal footer
&lt;/div&gt;
			</pre>
		</p>
	</div>
	<!-- Button trigger modal -->
	<div class="col-md-6">
		<div class="col-md-12">
			<div class="row">
				<button data-toggle="modal" data-target="#bootstrap-modal" class="btn btn-default">Default</button>
			</div>
			<div class="row">
				<button data-toggle="modal" data-target="#bootstrap-modal" class="btn btn-success">Success</button>
			</div>
			<div class="row">
				<button data-toggle="modal" data-target="#bootstrap-modal" class="btn btn-danger">Danger</button>
			</div>
			<div class="row">
				<button data-toggle="modal" data-target="#bootstrap-modal" class="btn btn-purple">Purple</button>
			</div>
			<div class="row">
				<button data-toggle="modal" data-target="#bootstrap-modal" class="btn btn-light-blue">Light blue</button>
			</div>
			<div class="row">
				<button data-toggle="modal" data-target="#bootstrap-modal" class="btn btn-black">Black</button>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<div class="row">
				<button data-toggle="modal" data-target="#bootstrap-modal" class="btn btn-primary">Primary</button>
			</div>
			<div class="row">
				<button data-toggle="modal" data-target="#bootstrap-modal" class="btn btn-info">Info</button>
			</div>
			<div class="row">
				<button data-toggle="modal" data-target="#bootstrap-modal" class="btn btn-warning">Warning</button>
			</div>
			<div class="row">
				<button data-toggle="modal" data-target="#bootstrap-modal" class="btn btn-orange">Orange</button>
			</div>
			<div class="row">
				<button data-toggle="modal" data-target="#bootstrap-modal" class="btn btn-cyan">Cyan</button>
			</div>
			<div class="row">
				<button data-toggle="modal" data-target="#bootstrap-modal" class="btn btn-dark-blue">Dark blue</button>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="bootstrap-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="myModalLabel">Modal title</h2>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-info">Save changes</button>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- ====================================================================================
     END MODALS -->