<!-- START PAGINATIONS
==================================================================================== -->
<div class="paginations row">
	<div class="col-md-12">
		<h1>
			Pagination
		</h1>
		<hr>
	</div>
	<div class="col-md-12">
		<ul class="pagination">
			<li><a href="http://google.com">1</a></li>
			<li><a href="http://google.com">2</a></li>
			<li class="active"><a href="http://google.com">3</a></li>
			<li><a href="http://google.com">4</a></li>
			<li><a href="http://google.com">5</a></li>
			<li><a href="http://google.com">6</a></li>
			<li class="disabled"><a href="http://google.com">7</a></li>
		</ul>
	</div>
</div>
<!-- ====================================================================================
     END PAGINATIONS -->