<!-- START ALERTS
==================================================================================== -->
<div class="alerts row">
	<div class="col-md-12">
		<h1>
			Alerts
			<hr>
		</h1>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-white">
			Alert white
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-default">
			Alert default
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-success">
			Alert success
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-danger">
			Alert danger
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-purple">
			Alert purple
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-light-blue">
			Alert light blue
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-black">
			Alert black
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-primary">
			Alert primary
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-info">
			Alert info
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-warning">
			Alert warning
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-orange">
			Alert orange
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-cyan">
			Alert cyan
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
	<div class="col-md-12 m-top-20">
		<div class="error-message alert alert-dark-blue">
			Alert dark blue
			<a class="close" href="#" aria-hidden="true">&times;</a>
		</div>
	</div>
</div>
<!-- ====================================================================================
     END ALERTS -->