<!-- START PAGINATIONS
==================================================================================== -->
<div class="row">
		<div class="paginations row">
		<div class="col-md-12">
			<h1>
				Paginations
			</h1>
			<hr>
		</div>
		<div class="col-md-12">
			<div class="row">
				<ul class="pagination pagination-white">
					<li><a href="http://google.com">1</a></li>
					<li><a href="http://google.com">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="http://google.com">4</a></li>
					<li><a href="http://google.com">5</a></li>
					<li><a href="http://google.com">6</a></li>
					<li class="disabled"><a href="#">7</a></li>
				</ul>
			</div>
			<div class="row">
				<ul class="pagination pagination-default">
					<li><a href="http://google.com">1</a></li>
					<li><a href="http://google.com">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="http://google.com">4</a></li>
					<li><a href="http://google.com">5</a></li>
					<li><a href="http://google.com">6</a></li>
					<li class="disabled"><a href="#">7</a></li>
				</ul>
			</div>
			<div class="row">
				<ul class="pagination pagination-success">
					<li><a href="http://google.com">1</a></li>
					<li><a href="http://google.com">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="http://google.com">4</a></li>
					<li><a href="http://google.com">5</a></li>
					<li><a href="http://google.com">6</a></li>
					<li class="disabled"><a href="#">7</a></li>
				</ul>
			</div>
			<div class="row">
				<ul class="pagination pagination-danger">
					<li><a href="http://google.com">1</a></li>
					<li><a href="http://google.com">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="http://google.com">4</a></li>
					<li><a href="http://google.com">5</a></li>
					<li><a href="http://google.com">6</a></li>
					<li class="disabled"><a href="#">7</a></li>
				</ul>
			</div>
			<div class="row">
				<ul class="pagination pagination-purple">
					<li><a href="http://google.com">1</a></li>
					<li><a href="http://google.com">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="http://google.com">4</a></li>
					<li><a href="http://google.com">5</a></li>
					<li><a href="http://google.com">6</a></li>
					<li class="disabled"><a href="#">7</a></li>
				</ul>
			</div>
			<div class="row">
				<ul class="pagination pagination-light-blue">
					<li><a href="http://google.com">1</a></li>
					<li><a href="http://google.com">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="http://google.com">4</a></li>
					<li><a href="http://google.com">5</a></li>
					<li><a href="http://google.com">6</a></li>
					<li class="disabled"><a href="#">7</a></li>
				</ul>
			</div>
			<div class="row">
				<ul class="pagination pagination-black">
					<li><a href="http://google.com">1</a></li>
					<li><a href="http://google.com">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="http://google.com">4</a></li>
					<li><a href="http://google.com">5</a></li>
					<li><a href="http://google.com">6</a></li>
					<li class="disabled"><a href="#">7</a></li>
				</ul>
			</div>
			<div class="row">
				<ul class="pagination pagination-primary">
					<li><a href="http://google.com">1</a></li>
					<li><a href="http://google.com">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="http://google.com">4</a></li>
					<li><a href="http://google.com">5</a></li>
					<li><a href="http://google.com">6</a></li>
					<li class="disabled"><a href="#">7</a></li>
				</ul>
			</div>
			<div class="row">
				<ul class="pagination pagination-info">
					<li><a href="http://google.com">1</a></li>
					<li><a href="http://google.com">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="http://google.com">4</a></li>
					<li><a href="http://google.com">5</a></li>
					<li><a href="http://google.com">6</a></li>
					<li class="disabled"><a href="#">7</a></li>
				</ul>
			</div>
			<div class="row">
				<ul class="pagination pagination-warning">
					<li><a href="http://google.com">1</a></li>
					<li><a href="http://google.com">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="http://google.com">4</a></li>
					<li><a href="http://google.com">5</a></li>
					<li><a href="http://google.com">6</a></li>
					<li class="disabled"><a href="#">7</a></li>
				</ul>
			</div>
			<div class="row">
				<ul class="pagination pagination-orange">
					<li><a href="http://google.com">1</a></li>
					<li><a href="http://google.com">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="http://google.com">4</a></li>
					<li><a href="http://google.com">5</a></li>
					<li><a href="http://google.com">6</a></li>
					<li class="disabled"><a href="#">7</a></li>
				</ul>
			</div>
			<div class="row">
				<ul class="pagination pagination-cyan">
					<li><a href="http://google.com">1</a></li>
					<li><a href="http://google.com">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="http://google.com">4</a></li>
					<li><a href="http://google.com">5</a></li>
					<li><a href="http://google.com">6</a></li>
					<li class="disabled"><a href="#">7</a></li>
				</ul>
			</div>
			<div class="row">
				<ul class="pagination pagination-dark-blue">
					<li><a href="http://google.com">1</a></li>
					<li><a href="http://google.com">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="http://google.com">4</a></li>
					<li><a href="http://google.com">5</a></li>
					<li><a href="http://google.com">6</a></li>
					<li class="disabled"><a href="#">7</a></li>
				</ul>
			</div>
	</div>
</div>
<!-- ====================================================================================
     END PAGINATIONS -->