<div class="popovers row">
	<div class="col-md-12">
		<h1>Popovers</h1>
		<hr>
	</div>
	<div class="col-md-12">
		<h3>
			Click the button to trigger bootstrap popover.
		</h3>
	</div>
	<div class="col-md-12">
		<p>
			Put template when assigning popover
		</p>
		<p>
			For example, I want my popover to use black color, I would put class <code>popover-black</code> to my popover template
<pre class="prettyprint">
$('[data-toggle=popover]').popover({
	template: '&lt;div class="popover popover-black"&gt;&lt;div class="arrow"&gt;&lt;/div&gt;&lt;h3 class="popover-title"&gt;&lt;/h3&gt;&lt;div class="popover-content"&gt;&lt;/div&gt;&lt;/div&gt;'
});
</pre>
		</p>
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<div class="row">
				<button type="button" class="btn btn-default popover-toggle-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover default
				</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-success popover-toggle-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover success
				</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-danger popover-toggle-danger" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover danger
				</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-purple popover-toggle-purple" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover purple
				</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-light-blue popover-toggle-light-blue" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover light blue
				</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-black popover-toggle-black" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover black
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<div class="row">
				<button type="button" class="btn btn-primary popover-toggle-primary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover primary
				</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-info popover-toggle-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover info
				</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-warning popover-toggle-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover warning
				</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-orange popover-toggle-orange" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover orange
				</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-cyan popover-toggle-cyan" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover cyan
				</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-dark-blue popover-toggle-dark-blue" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover dark blue
				</button>
			</div>
		</div>
	</div>
</div>