@import "generic.less";

@alert-border-radius: 2px;
@alert-border-width: 1px;
@alert-padding: 7px 15px;
@alert-margin-bottom: 3px;
@darken-when-hovered: false;

.alert {
	padding: @alert-padding;
	margin-bottom: @alert-margin-bottom;
	-webkit-transition: 0.5s color, 0.5s background-color;
	-o-transition: 		0.5s color, 0.5s background-color;
	transition: 		0.5s color, 0.5s background-color;
    -webkit-border-radius: @alert-border-radius;
			border-radius: @alert-border-radius;
	border-width: @alert-border-width;
}
.alert.alert {
    .for(@background-colors-with-light-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        @darken-background-color: "@{name}-darken-background-color";
        @background: @@background-color;
        @darken-background: @@darken-background-color;
        &-@{name} {
        	border-color: @background;
            background-color: inherit;
        	color: @background;
        }
        &-@{name}:hover{
			background: @darken-background;
            border-color: @darken-background;
        	color: @light-font;
        }
    }
}
.alert.alert {
    .for(@background-colors-with-dark-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        @darken-background-color: "@{name}-darken-background-color";
        @background: @@background-color;
        @darken-background: @@darken-background-color;
        &-@{name} {
        	border-color: @background;
            background-color: inherit;
        	color: @background;
        }
        &-@{name}:hover{
			background: @darken-background;
            border-color: @darken-background;
        	color: @dark-font;
        }
    }
}