@import "generic.less";

@progress-bar-shadow-size: inset 0 -1px 0;
@progress-bar-radius: 0;
@progress-background-color: #EFFFEF;

.progress-bar-shadow(@base-color) {
	-webkit-box-shadow: @progress-bar-shadow-size rgba(red(@base-color), green(@base-color), blue(@base-color), 0.3);
			box-shadow: @progress-bar-shadow-size rgba(red(@base-color), green(@base-color), blue(@base-color), 0.3);
}

.progress{
	-webkit-border-radius: @progress-bar-radius;
			border-radius: @progress-bar-radius;
}
.progress{
	background-color: @progress-background-color;
}
.progress .progress-bar{
	border-radius: @progress-bar-radius;
}

.progress-bar {
    .for(@background-colors-with-light-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        &-@{name} {
        	.progress-bar-shadow(@@background-color);
        	background: @@background-color;
        }
    }
}
.progress-bar {
    .for(@background-colors-with-dark-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        &-@{name} {
        	.progress-bar-shadow(@@background-color);
        	background: @@background-color;
        }
    }
}