@import "generic.less";

/**
 * BASIC BUTTON VARIABLES
 */
@btn-shadow: false;
@btn-horizontal-padding: 12px;
@btn-vertical-padding: 6px;
@btn-border-radius: 2px;
@btn-shadow-size: 0 1px;
@btn-top-position-when-hovered: 1px;
@btn-border-width: 1px;

.btn-behavior {
	.no-outline;
}
.btn-transition(@color-transition: 0.5s, @background-color-transition: 0.5s){
	-webkit-transition: @color-transition color, @background-color-transition background-color;
	-o-transition: 		@color-transition color, @background-color-transition background-color;
	transition: 		@color-transition color, @background-color-transition background-color;
}
.btn-shadow(@shadowColor, @shadow-size: @btn-shadow-size) when(@btn-shadow) {
	.shadow(@shadowColor, @shadow-size);
}
.btn-position when(@btn-shadow){
	top: @btn-top-position-when-hovered;
}
.btn {
    background-color: inherit;
	padding: @btn-vertical-padding @btn-horizontal-padding;
    border-radius: @btn-border-radius;
    -webkit-border-radius: @btn-border-radius;
    border-width: @btn-border-width;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn{
	position: relative;
	.btn-position;
	.no-outline;
	.no-shadow;
	.btn-transition;
}


.btn {
    .for(@background-colors-with-dark-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        @shadow-color: "@{name}-shadow-color";
        @darken-background-color: "@{name}-darken-background-color";
        &-@{name} {
        	.btn-shadow(@@shadow-color);
        	// background: @@background-color;
            border-color: @@background-color;
        	color: @@background-color;
        }
        &-@{name}:hover,
        &-@{name}:focus,
        &-@{name}:active{
        	border-width: @btn-border-width;
            border-color: @@darken-background-color;
			background-color: @@darken-background-color;
			color: @dark-font;
        }
    }
}
.btn {
    .for(@background-colors-with-light-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        @shadow-color: "@{name}-shadow-color";
        @darken-background-color: "@{name}-darken-background-color";
        &-@{name} {
        	.btn-shadow(@@shadow-color);
        	// background: @@background-color;
            border-color: @@background-color;
        	color: @@background-color;
        }
        &-@{name}:hover,
        &-@{name}:focus,
        &-@{name}:active{
        	border-width: @btn-border-width;
            border-color: @@darken-background-color;
			background-color: @@darken-background-color;
			color: @light-font;
        }
    }
}

//----- FOR DROPDOWNS

.open .dropdown-toggle.btn {
    .for(@background-colors-with-dark-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        &-@{name} {
        	border-width: @btn-border-width;
            border-color: @@background-color;
			background-color: @@background-color;
			color: @dark-font;
        }
    }
}
.open .dropdown-toggle.btn {
    .for(@background-colors-with-light-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        &-@{name} {
        	border-width: @btn-border-width;
            border-color: @@background-color;
			background-color: @@background-color;
			color: @light-font;
        }
    }
}