@import "generic.less";

.colored-lable{
	padding: 3px 7px;
}

.colored-lable.lable-default{
	background-color: @defaultBackgroundColor;
	color: @darkFont;
}
.colored-lable.lable-success{
	background-color: @successBackgroundColor;
	color: @lightFont;
}
.colored-lable.lable-info{
	background-color: @infoBackgroundColor;
	color: @lightFont;
}
.colored-lable.lable-warning{
	background-color: @warningBackgroundColor;
	color: @lightFont;
}
.colored-lable.lable-danger{
	background-color: @dangerBackgroundColor;
	color: @lightFont;
}
.colored-lable.lable-black{
	background-color: @blackBackgroundColor;
	color: @lightFont;
}
.colored-lable.lable-orange{
	background-color: @orangeBackgroundColor;
	color: @lightFont;
}
.colored-lable.lable-purple{
	background-color: @purpleBackgroundColor;
	color: @lightFont;
}
.colored-lable.lable-light-blue{
	background-color: @lightBlueBackgroundColor;
	color: @lightFont;
}
.colored-lable.lable-cyan{
	background-color: @cyanBackgroundColor;
	color: @lightFont;
}