@import "generic.less";
@import "lib/for";

.colored-label{
	padding: 3px 7px;
}

.colored-label {
    .for(@background-colors-with-light-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        &.label-@{name} {
        	background: @@background-color;
        	color: @light-font;
        }
    }
}
.colored-label {
    .for(@background-colors-with-dark-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        &.label-@{name} {
        	background: @@background-color;
        	color: @dark-font;
        }
    }
}