/**
 * COLORS
 */
@lightFont: #FFFFFF;
@darkFont: #222222;
@darkenPercentage: 10%;
@darkenShadowPercentage: 5%;

@defaultBackgroundColor: #EFEFEF;
@defaultDarkenBackgroundColor: darken(@defaultBackgroundColor, @darkenPercentage);
@defaultShadowColor: darken(@defaultBackgroundColor, @darkenShadowPercentage);

@infoBackgroundColor: #217FD2;
@infoDarkenBackgroundColor: darken(@infoBackgroundColor, @darkenPercentage);
@infoShadowColor: darken(@infoBackgroundColor, @darkenShadowPercentage);

@successBackgroundColor: #3A8B3B;
@successDarkenBackgroundColor: darken(@successBackgroundColor, @darkenPercentage);
@successShadowColor: darken(@successBackgroundColor, @darkenShadowPercentage);

@warningBackgroundColor: #A7D024;
@warningDarkenBackgroundColor: darken(@warningBackgroundColor, @darkenPercentage);
@warningShadowColor: darken(@warningBackgroundColor, @darkenShadowPercentage);

@dangerBackgroundColor: #D9534F;
@dangerDarkenBackgroundColor: darken(@dangerBackgroundColor, @darkenPercentage);
@dangerShadowColor: darken(@dangerBackgroundColor, @darkenShadowPercentage);

@blackBackgroundColor: #333333;
@blackDarkenBackgroundColor: darken(@blackBackgroundColor, @darkenPercentage);
@blackShadowColor: darken(@blackBackgroundColor, @darkenShadowPercentage);

@orangeBackgroundColor: #E8AC61;
@orangeDarkenBackgroundColor: darken(@orangeBackgroundColor, @darkenPercentage);
@orangeShadowColor: darken(@orangeBackgroundColor, @darkenShadowPercentage);

@purpleBackgroundColor: #C15AB1;
@purpleDarkenBackgroundColor: darken(@purpleBackgroundColor, @darkenPercentage);
@purpleShadowColor: darken(@purpleBackgroundColor, @darkenShadowPercentage);

.NoBorder{
	border: none;
}
.NoOutline{
	outline: 0 !important;
}
.NoShadow{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.BoldFont{
	font-weight: bold;
}