/**
 * COLORS
 */
@darken-font-percentage: 5%;
@lighten-font-percentage: 5%;
@darken-background-percentage: 7%;
@lighten-background-percentage: 5%;
@darken-shadow-percentage: 5%;

@background-colors-with-dark-font:   	'white',
										'default';

@background-colors-with-light-font: 	'primary',
										'info',
										'success',
										'warning',
										'danger',
										'black',
										'orange',
										'purple',
										'cyan',
										'light-blue',
										'dark-blue',
										'light-green',
										'brown';

@light-font: #FFFFFF;
@darken-light-font: darken(@light-font, @darken-font-percentage);

@dark-font: #222222;
@lighten-dark-font: lighten(@dark-font, @lighten-font-percentage);

@white-background-color: #FFFFFF;
@white-darken-background-color: darken(@white-background-color, @darken-background-percentage - 5);
@white-lighten-background-color: lighten(@white-background-color, @lighten-background-percentage);
@white-shadow-color: darken(@white-background-color, @darken-shadow-percentage);

@default-background-color: #EFEFEF;
@default-darken-background-color: darken(@default-background-color, @darken-background-percentage);
@default-lighten-background-color: lighten(@default-background-color, @lighten-background-percentage);
@default-shadow-color: darken(@default-background-color, @darken-shadow-percentage);

@primary-background-color: #442982;
@primary-darken-background-color: darken(@primary-background-color, @darken-background-percentage);
@primary-lighten-background-color: lighten(@primary-background-color, @lighten-background-percentage);
@primary-shadow-color: darken(@primary-background-color, @darken-shadow-percentage);

@info-background-color: #217FD2;
@info-darken-background-color: darken(@info-background-color, @darken-background-percentage);
@info-lighten-background-color: lighten(@info-background-color, @lighten-background-percentage);
@info-shadow-color: darken(@info-background-color, @darken-shadow-percentage);

@success-background-color: #3A8B3B;
@success-darken-background-color: darken(@success-background-color, @darken-background-percentage);
@success-lighten-background-color: lighten(@success-background-color, @lighten-background-percentage);
@success-shadow-color: darken(@success-background-color, @darken-shadow-percentage);

@warning-background-color: #A7D024;
@warning-darken-background-color: darken(@warning-background-color, @darken-background-percentage);
@warning-lighten-background-color: lighten(@warning-background-color, @lighten-background-percentage);
@warning-shadow-color: darken(@warning-background-color, @darken-shadow-percentage);

@danger-background-color: #D9534F;
@danger-darken-background-color: darken(@danger-background-color, @darken-background-percentage);
@danger-lighten-background-color: lighten(@danger-background-color, @lighten-background-percentage);
@danger-shadow-color: darken(@danger-background-color, @darken-shadow-percentage);

@black-background-color: #222222;
@black-darken-background-color: darken(@black-background-color, @darken-background-percentage);
@black-lighten-background-color: lighten(@black-background-color, @lighten-background-percentage);
@black-shadow-color: darken(@black-background-color, @darken-shadow-percentage);

@orange-background-color: #E8AC61;
@orange-darken-background-color: darken(@orange-background-color, @darken-background-percentage);
@orange-lighten-background-color: lighten(@orange-background-color, @lighten-background-percentage);
@orange-shadow-color: darken(@orange-background-color, @darken-shadow-percentage);

@purple-background-color: #7C0EB2;
@purple-darken-background-color: darken(@purple-background-color, @darken-background-percentage);
@purple-lighten-background-color: lighten(@purple-background-color, @lighten-background-percentage);
@purple-shadow-color: darken(@purple-background-color, @darken-shadow-percentage);

@cyan-background-color: #59CAB1;
@cyan-darken-background-color: darken(@cyan-background-color, @darken-background-percentage);
@cyan-lighten-background-color: lighten(@cyan-background-color, @lighten-background-percentage);
@cyan-shadow-color: darken(@cyan-background-color, @darken-shadow-percentage);

@light-blue-background-color: #33B5E5;
@light-blue-darken-background-color: darken(@light-blue-background-color, @darken-background-percentage);
@light-blue-lighten-background-color: lighten(@light-blue-background-color, @lighten-background-percentage);
@light-blue-shadow-color: darken(@light-blue-background-color, @darken-shadow-percentage);

@dark-blue-background-color: #336177;
@dark-blue-darken-background-color: darken(@dark-blue-background-color, @darken-background-percentage);
@dark-blue-lighten-background-color: lighten(@dark-blue-background-color, @lighten-background-percentage);
@dark-blue-shadow-color: darken(@dark-blue-background-color, @darken-shadow-percentage);

@light-green-background-color: #59CAB1;
@light-green-darken-background-color: darken(@light-green-background-color, @darken-background-percentage);
@light-green-lighten-background-color: lighten(@light-green-background-color, @lighten-background-percentage);
@light-green-shadow-color: darken(@light-green-background-color, @darken-shadow-percentage);

@brown-background-color: #B86B5A;
@brown-darken-background-color: darken(@brown-background-color, @darken-background-percentage);
@brown-lighten-background-color: lighten(@brown-background-color, @lighten-background-percentage);
@brown-shadow-color: darken(@brown-background-color, @darken-shadow-percentage);

.NoBorder{
	border: none;
}
.NoOutline{
	outline: 0 !important;
}
.NoShadow{
	-webkit-box-shadow: none;
			box-shadow: none;
}
.Shadow(@shadow-color, @shadow-size){
	-webkit-box-shadow: @shadow-size @shadow-color;
			box-shadow: @shadow-size @shadow-color;
}
.BoldFont{
	font-weight: bold;
}

.full-width{
	width: 100%;
}