@import "generic.less";

@modalBorderRadius: 0;
@modalBorder: none;

.Modal-footer-header-border-color(@backgroundColor){
    border-color: darken(@backgroundColor, 3%);
}

.modal-content{
	border: @modalBorder;
	-webkit-border-radius: @modalBorderRadius;
			border-radius: @modalBorderRadius;
}
.modal {
    .for(@background-colors-with-light-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        @background: @@background-color;

        &-content.modal-@{name} {
        	background: @background;
        	color: @light-font
        }
        &-content.modal-@{name} .modal-header{
			border-bottom: 1px solid;
            .Modal-footer-header-border-color(@background);
        }
        &-content.modal-@{name} .modal-footer{
        	border-top: 1px solid;
            .Modal-footer-header-border-color(@background);
        }
    }
}

.modal {
    .for(@background-colors-with-dark-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        @background: @@background-color;

        &-content.modal-@{name} {
        	background: @background;
        	color: @dark-font
        }
        &-content.modal-@{name} .modal-header{
			border-bottom: 1px solid;
            .Modal-footer-header-border-color(@background);
        }
        &-content.modal-@{name} .modal-footer{
        	border-top: 1px solid;
            .Modal-footer-header-border-color(@background);
        }
    }
}