@popoverBorder: none;
@popoverBorderRadius: 0;

.popover.fade{
	border: @popoverBorder;
	-webkit-border-radius: @popoverBorderRadius;
			border-radius: @popoverBorderRadius;
}

.popover-dark{
	background-color: @blackBackgroundColor;
	color: @lightFont;
}

.popover-dark.top > .arrow:after{
	border-top-color: @blackBackgroundColor;
}
.popover-dark.bottom > .arrow:after{
	border-bottom-color: @blackBackgroundColor;
}
.popover-dark.left > .arrow:after{
	border-left-color: @blackBackgroundColor;
}
.popover-dark.right > .arrow:after{
	border-right-color: @blackBackgroundColor;
}