@popover-border: none;
@popover-border-radius: 0;

.popover.fade{
	border: @popover-border;
	-webkit-border-radius: @popover-border-radius;
			border-radius: @popover-border-radius;
}

.popover {
    .for(@background-colors-with-light-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        @background: @@background-color;
        &-@{name} {
        	background: @background;
        	color: @light-font
        }
	    &-@{name}.top > .arrow:after{
	    	border-top-color: @background;
        }
        &-@{name}.bottom > .arrow:after{
        	border-bottom-color: @background;
        }
        &-@{name}.left > .arrow:after{
        	border-left-color: @background;
        }
        &-@{name}.right > .arrow:after{
        	border-right-color: @background;
        }
    }
}
.popover {
    .for(@background-colors-with-dark-font); .-each(@color) {
        @name: e(@color);
        @background-color: "@{name}-background-color";
        @background: @@background-color;
        &-@{name} {
        	background: @background;
        	color: @dark-font
        }
        &-@{name}.top > .arrow:after{
        	border-top-color: @background;
        }
        &-@{name}.bottom > .arrow:after{
        	border-bottom-color: @background;
        }
        &-@{name}.left > .arrow:after{
        	border-left-color: @background;
        }
        &-@{name}.right > .arrow:after{
        	border-right-color: @background;
        }
    }
}