@import "generic.less";

/**
 * BASIC BUTTON VARIABLES
 */
@btnMarginTop: 2px;
@btnMarginBottom: 2px;
@btnMinWidth: 34px;
@btnMinHeight: 28px;
@btnHorizontalPadding: 6px;
@btnVerticalPadding: 2px;
@btnPaddingTop: 3px;
@btnBorderRadius: 2px;
@btnShadowSize: 0 1px;
@btnTopPositionWhenHovered: 1px;

.BtnBehavior{
	.NoOutline;
	.NoBorder;
}
.BtnTransition(@colorTransition: 0.5s, @backgroundColorTransition: 0.5s){
	-webkit-transition: @colorTransition color, @backgroundColorTransition background-color;
	-o-transition: 		@colorTransition color, @backgroundColorTransition background-color;
	transition: 		@colorTransition color, @backgroundColorTransition background-color;
}
.btn {
	.BoldFont;
    .BtnBehavior;
	margin-top: @btnMarginTop;
	margin-bottom: @btnMarginBottom;
	min-width: @btnMinWidth;
	min-height: @btnMinHeight;
	padding: @btnVerticalPadding @btnHorizontalPadding;
	padding-top: @btnPaddingTop;
    border-radius: @btnBorderRadius;
    -webkit-border-radius: @btnBorderRadius;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn{
	position: relative;
	top: @btnTopPositionWhenHovered;
	.NoOutline;
	.NoShadow;
	.BtnTransition;
}

.btn-default{
	background-color: @defaultBackgroundColor;
	-webkit-box-shadow: @btnShadowSize @defaultShadowColor;
	box-shadow: @btnShadowSize @defaultShadowColor;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default{
	background-color: @defaultDarkenBackgroundColor;
	color: @fontColorOnLight;
	.NoBorder;
}

.btn-info {
    background-color: @infoBackgroundColor;
    -webkit-box-shadow: @btnShadowSize @infoShadowColor;
    box-shadow: @btnShadowSize @infoShadowColor;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info{
	background-color: @infoDarkenBackgroundColor;
	color: @fontColorOnDark;
	.NoBorder;
}

.btn-success{
	background-color: @successBackgroundColor;
	-webkit-box-shadow: @btnShadowSize @successShadowColor;
	box-shadow: @btnShadowSize @successShadowColor;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success{
	background-color: @successDarkenBackgroundColor;
	color: @fontColorOnDark;
	.NoBorder;
}

.btn-warning{
	background-color: @warningBackgroundColor;
	-webkit-box-shadow: @btnShadowSize @warningShadowColor;
	box-shadow: @btnShadowSize @warningShadowColor;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning{
	background-color: @warningDarkenBackgroundColor;
	color: @fontColorOnDark;
	.NoBorder;
}

.btn-danger{
	background-color: @dangerBackgroundColor;
	-webkit-box-shadow: @btnShadowSize @dangerShadowColor;
	box-shadow: @btnShadowSize @dangerShadowColor;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger{
	background-color: @dangerDarkenBackgroundColor;
	color: @fontColorOnDark;
	.NoBorder;
}



