/**
 * COLORS
 */
@defaultBackgroundBaseColor: #EFEFEF;
@defaultShadowColor: #DDEEDD;

@infoBackgroundBaseColor: #217FD2;
@infoShadowColor: #224DA3;

@successBackgroundBaseColor: #3A8B3B;
@successShadowColor: #3D563C;

@warningBackgroundBaseColor: #C15AB1;
@warningShadowColor: #A34A95;

@dangerBackgroundBaseColor: #D9534F;
@dangerShadowColor: #A64A38;

.NoBorder{
	border: none;
}
.NoOutline{
	outline: none;
}
.NoShadow{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.BoldFont{
	font-weight: bold;
}