/**
 * COLORS
 */
@fontColorOnDark: #FFFFFF;
@fontColorOnLight: #222222;
@darkenPercentage: 10%;

@defaultBackgroundColor: #EFEFEF;
@defaultDarkenBackgroundColor: darken(@defaultBackgroundColor, @darkenPercentage);
@defaultShadowColor: #DDEEDD;

@infoBackgroundColor: #217FD2;
@infoDarkenBackgroundColor: darken(@infoBackgroundColor, @darkenPercentage);
@infoShadowColor: #224DA3;

@successBackgroundColor: #3A8B3B;
@successDarkenBackgroundColor: darken(@successBackgroundColor, @darkenPercentage);
@successShadowColor: #3D563C;

@warningBackgroundColor: #C15AB1;
@warningDarkenBackgroundColor: darken(@warningBackgroundColor, @darkenPercentage);
@warningShadowColor: #A34A95;

@dangerBackgroundColor: #D9534F;
@dangerDarkenBackgroundColor: darken(@dangerBackgroundColor, @darkenPercentage);
@dangerShadowColor: #A64A38;


.NoBorder{
	border: none;
}
.NoOutline{
	outline: 0 !important;
}
.NoShadow{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.BoldFont{
	font-weight: bold;
}